<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654631461988-e6g8606omb24clld9i4okci42akjh51p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654631461988-e6g8606omb24clld9i4okci42akjh51p</string>
	<key>API_KEY</key>
	<string>AIzaSyCsOl23QIMQC9LGa5tLZoIxyc4EnG3Bx68</string>
	<key>GCM_SENDER_ID</key>
	<string>654631461988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nomadic</string>
	<key>PROJECT_ID</key>
	<string>nomadic-44ced</string>
	<key>STORAGE_BUCKET</key>
	<string>nomadic-44ced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654631461988:ios:7fea1cc268b0f9021c2b71</string>
	<key>DATABASE_URL</key>
	<string>https://nomadic-44ced.firebaseio.com</string>
</dict>
</plist>